body {
	font-family: system-ui, sans-serif;
}

:root {
  --primary: #006b56;
  --on-primary: #ffffff;
  --primary-container: #7ef8d5;
  --on-primary-container: #002018;
  --secondary: #4b635b;
  --on-secondary: #ffffff;
  --secondary-container: #cee9dd;
  --on-secondary-container: #072019;
  --tertiary: #416276;
  --on-tertiary: #ffffff;
  --tertiary-container: #c4e7ff;
  --on-tertiary-container: #001e2c;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --background: #fbfdfa;
  --on-background: #191c1b;
  --surface: #f8faf7;
  --on-surface: #191c1b;
  --surface-variant: #dbe5df;
  --on-surface-variant: #3f4945;
  --outline: #6f7975;
  --outline-variant: #bfc9c3;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #2e312f;
  --inverse-on-surface: #eff1ee;
  --inverse-primary: #5fdbba;
  --surface-dim: #d8dbd8;
  --surface-bright: #f8faf7;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f2f4f1;
  --surface-container: #eceeeb;
  --surface-container-high: #e6e9e6;
  --surface-container-highest: #e1e3e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #5fdbba;
    --on-primary: #00382c;
    --primary-container: #005140;
    --on-primary-container: #7ef8d5;
    --secondary: #b2ccc2;
    --on-secondary: #1d352d;
    --secondary-container: #344c43;
    --on-secondary-container: #cee9dd;
    --tertiary: #a8cbe2;
    --on-tertiary: #0e3446;
    --tertiary-container: #284b5e;
    --on-tertiary-container: #c4e7ff;
    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffb4ab;
    --background: #191c1b;
    --on-background: #e1e3e0;
    --surface: #111413;
    --on-surface: #e1e3e0;
    --surface-variant: #3f4945;
    --on-surface-variant: #bfc9c3;
    --outline: #89938e;
    --outline-variant: #3f4945;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #e1e3e0;
    --inverse-on-surface: #2e312f;
    --inverse-primary: #006b56;
    --surface-dim: #111413;
    --surface-bright: #363a38;
    --surface-container-lowest: #0b0f0e;
    --surface-container-low: #191c1b;
    --surface-container: #1d201f;
    --surface-container-high: #272b29;
    --surface-container-highest: #323634;
  }
}

.toolbar-title {
	font-size: 23px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
}

.floating-button {
    position: fixed;
    bottom: 18px;
    right: 8px;
    z-index: 1; /* Ensures the button is above other content */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.divider-spacer {
  margin-top: 8px;
  margin-bottom: 8px;
}

.small-toolbar {
  min-height: 60px;
}

.topaz {
  padding: 2px 2px;
  min-width: 1px;
  min-height: 1px;
}